.product{
    border-bottom:1px solid lightgray ;
    display: flex;
    padding:10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 5px; 
    cursor: pointer;
}
.product-details{
    padding-left: 20px;
}